{% extends '../base.html' %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board">
				<form id="search_form" action="" method="post">
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>		

					{% for post in postlist  %}		
					<tr>
						<td>{{ post.no }}</td>
						<td><a href="/board/view?no={{ post.no }}" style="text-align: left; padding-left: 0px;">{{ post.title }}</a></td>
						<td>{{ post.name }}</td>
						<td>{{ post.hit }}</td>
						<td>{{ post.reg_date|date:'Y-m-d H:i' }}</td>
						<td>
							{% if request.session.authuser is not None %}
								{% if post.user_no == request.session.authuser.no%}
									<a href="/board/delete?no={{ post.no }}" class="del">삭제</a>
								{% endif %}
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</table>
				
				<!-- pager 추가 -->
				<div class="pager">
					<ul>
						<li><a href="">◀</a></li>
						<li><a href="">1</a></li>
						<li class="selected">2</li>
						<li><a href="">3</a></li>
						<li>4</li>
						<li>5</li>
						<li><a href="">▶</a></li>
					</ul>
				</div>					
				<!-- pager 추가 -->
				
				<div class="bottom">
					<a href="/board/writeform" id="new-book">글쓰기</a>
				</div>				
			</div>
{% endblock %}